<h1>Artists</h1>


<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
  <% @artists.each do |artist|  %>
    <tr>
      <td><%= link_to artist.name, artist_path(id: artist.id) %></td>
      <td><%= link_to "X", edit_artist_path(id: artist.id) %></td>
      <td><%= link_to "X", artist_path(id: artist.id), method: 'delete' %></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Create an Artist", new_artist_path %>
