<h1>Song List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Edit</th>
  </tr>

  <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.name, song_path(id: song.id) %></td>
      <td><%= duration_as_minutes_and_seconds(song.duration) %></td>
      <td><%= link_to "X", edit_song_path(id: song.id) %></td>
    </tr>
  <% end %>

</table>

<%= link_to "Create a Song", new_song_path %>
